<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.dao.BizNoDefinitionMapper">
  <resultMap id="BaseResultMap" type="com.core.pojo.BizNoDefinition">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="currentNo" jdbcType="INTEGER" property="currentno" />
    <result column="updatedOn" jdbcType="DATE" property="updatedon" />
    <result column="module" jdbcType="VARCHAR" property="module" />
  </resultMap>
  <sql id="Base_Column_List">
    id, currentNo, updatedOn, module
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from biznodefinition
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectCurrentBizNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    currentNo
    from biznodefinition
    where module = #{module,jdbcType=VARCHAR}
    and updatedon = CURDATE()
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from biznodefinition
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.core.pojo.BizNoDefinition">
    insert into biznodefinition (id, currentNo, updatedOn,
      module)
    values (#{id,jdbcType=VARCHAR}, #{currentno,jdbcType=INTEGER}, #{updatedon,jdbcType=DATE},
      #{module,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.core.pojo.BizNoDefinition">
    insert into biznodefinition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="currentno != null">
        currentNo,
      </if>
      <if test="updatedon != null">
        updatedOn,
      </if>
      <if test="module != null">
        module,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="currentno != null">
        #{currentno,jdbcType=INTEGER},
      </if>
      <if test="updatedon != null">
        #{updatedon,jdbcType=DATE},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.core.pojo.BizNoDefinition">
    update biznodefinition
    <set>
      <if test="currentno != null">
        currentNo = #{currentno,jdbcType=INTEGER},
      </if>
      <if test="updatedon != null">
        updatedOn = #{updatedon,jdbcType=DATE},
      </if>
      <if test="module != null">
        module = #{module,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.core.pojo.BizNoDefinition">
    update biznodefinition
    set currentNo = #{currentno,jdbcType=INTEGER},
      updatedOn = #{updatedon,jdbcType=DATE},
      module = #{module,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="increaseBizNo" parameterType="java.lang.String">
    update biznodefinition
    set currentNO = currentNo+1
    where module = #{module}
  </update>
  <update id="resetBizNo" parameterType="java.lang.String">
    update biznodefinition
    set currentNO = 1, updatedOn = CURDATE()
    where module = #{module}
  </update>
</mapper>
